<div class="sidebar">
	<div class="catalog-sidebar">
		<h4><%= image_tag "/images/カメラ.png" ,alt: "" ,class: "icon" %>  探す</h4>
		<div class="sidebar_table">
			<div class="mo_icon mo_style">
				<%= image_tag "/images/くし.png" ,alt: "" ,class: "icon" %>  <span class="mo_iconn style_span" data-mo="style_modal">スタイルで探す</span>
				<div class="list-group style_modal">
				  <p class="group-item list-group-item style-item" href="#">ベリーショート</p>
				  <p class="group-item list-group-item style-item" href="#">ショート</p>
				  <p class="group-item list-group-item style-item" href="#">ミディアム</p>
				  <p class="group-item list-group-item style-item" href="#">セミロング</p>
				  <p class="group-item list-group-item style-item" href="#">ロング</p>
				</div>
			</div>
			<div class="mo_icon mo_color">
				<%= image_tag "/images/色.png" ,alt: "" ,class: "icon" %>  <span class="mo_iconn color_span" data-mo="color_modal">髪色で探す</span>
				<div class="list-group color_modal">
				  <p class="group-item list-group-item color-item" href="#">ブラウン・ベージュ系</p>
				  <p class="group-item list-group-item color-item" href="#">イエロー・オレンジ系</p>
				  <p class="group-item list-group-item color-item" href="#">レッド・ピンク系</p>
				  <p class="group-item list-group-item color-item" href="#">アッシュ・ブラック系</p>
				  <p class="group-item list-group-item color-item" href="#">その他カラー</p>
				</div>
			</div>
			<div class="mo_icon mo_menu">
				<%= image_tag "/images/メニュー.png" ,alt: "" ,class: "icon" %>  <span class="mo_iconn menu_span" data-mo="menu_modal">メニューで探す</span>
				<div class="list-group menu_modal">
				  <p class="group-item list-group-item menu-item" href="#">カット</p>
				  <p class="group-item list-group-item menu-item" href="#">パーマ</p>
				  <p class="group-item list-group-item menu-item" href="#">ストレートパーマ・縮毛矯正</p>
				  <p class="group-item list-group-item menu-item" href="#">エクステ</p>
				  <p class="group-item list-group-item menu-item" href="#">その他</p>
				</div>
			</div>
			<div class="mo_icon mo_clothes">
				<%= image_tag "/images/服装.png" ,alt: "" ,class: "icon" %>  <span class="mo_iconn clothes_span" data-mo="clothes_modal">服装で探す</span>
				<div class="list-group clothes_modal">
				  <p class="group-item list-group-item clothes-item" href="#">ビジネス</p>
				  <p class="group-item list-group-item clothes-item" href="#">カジュアル</p>
				  <p class="group-item list-group-item clothes-item" href="#">きれいめ</p>
				  <p class="group-item list-group-item clothes-item" href="#">モード</p>
				  <p class="group-item list-group-item clothes-item" href="#">コンサバ</p>
				  <p class="group-item list-group-item clothes-item" href="#">B系</p>
				  <p class="group-item list-group-item clothes-item" href="#">ギャル系</p>
				  <p class="group-item list-group-item clothes-item" href="#">ストリート</p>
				  <p class="group-item list-group-item clothes-item" href="#">アメカジ</p>
				  <p class="group-item list-group-item clothes-item" href="#">サーフ</p>
				  <p class="group-item list-group-item clothes-item" href="#">レトロ</p>
				  <p class="group-item list-group-item clothes-item" href="#">その他</p>
				</div>
			</div>
			<div class="mo_icon mo_age">
				<%= image_tag "/images/年齢.png" ,alt: "" ,class: "icon" %>  <span class="mo_iconn age_span" data-mo="age_modal">年齢で探す</span>
				<div class="list-group age_modal">
				  <p class="group-item list-group-item age-item" href="#">10歳未満</p>
				  <p class="group-item list-group-item age-item" href="#">10代前半</p>
				  <p class="group-item list-group-item age-item" href="#">10代後半</p>
				  <p class="group-item list-group-item age-item" href="#">20代前半</p>
				  <p class="group-item list-group-item age-item" href="#">20代後半</p>
				  <p class="group-item list-group-item age-item" href="#">30代前半</p>
				  <p class="group-item list-group-item age-item" href="#">30代後半</p>
				  <p class="group-item list-group-item age-item" href="#">40代前半</p>
				  <p class="group-item list-group-item age-item" href="#">40代後半</p>
				  <p class="group-item list-group-item age-item" href="#">50代前半</p>
				  <p class="group-item list-group-item age-item" href="#">50代後半</p>
				  <p class="group-item list-group-item age-item" href="#">60代前半</p>
				  <p class="group-item list-group-item age-item" href="#">60代後半</p>
				  <p class="group-item list-group-item age-item" href="#">70代以上</p>
				</div>
			</div>
			<div class="mo_icon mo_area">
				<%= image_tag "/images/地域.png" ,alt: "" ,class: "icon" %>  <span class="mo_iconn area_span" data-mo="area_modal">地域で探す</span>
				<div class="list-group area_modal">
				  <p class="group-item list-group-item area-item" href="#">北海道</p>
				  <p class="group-item list-group-item area-item" href="#">青森県</p>
				  <p class="group-item list-group-item area-item" href="#">岩手県</p>
				  <p class="group-item list-group-item area-item" href="#">宮城県</p>
				  <p class="group-item list-group-item area-item" href="#">秋田県</p>
				  <p class="group-item list-group-item area-item" href="#">山形県</p>
				  <p class="group-item list-group-item area-item" href="#">福島県</p>
				  <p class="group-item list-group-item area-item" href="#">茨城県</p>
				  <p class="group-item list-group-item area-item" href="#">栃木県</p>
				  <p class="group-item list-group-item area-item" href="#">群馬県</p>
				  <p class="group-item list-group-item area-item" href="#">埼玉県</p>
				  <p class="group-item list-group-item area-item" href="#">千葉県</p>
				  <p class="group-item list-group-item area-item" href="#">東京都</p>
				  <p class="group-item list-group-item area-item" href="#">神奈川県</p>
				  <p class="group-item list-group-item area-item" href="#">新潟県</p>
				  <p class="group-item list-group-item area-item" href="#">富山県</p>
				  <p class="group-item list-group-item area-item" href="#">石川県</p>
				  <p class="group-item list-group-item area-item" href="#">福井県</p>
				  <p class="group-item list-group-item area-item" href="#">山梨県</p>
				  <p class="group-item list-group-item area-item" href="#">長野県</p>
				  <p class="group-item list-group-item area-item" href="#">岐阜県</p>
				  <p class="group-item list-group-item area-item" href="#">静岡県</p>
				  <p class="group-item list-group-item area-item" href="#">愛知県</p>
				  <p class="group-item list-group-item area-item" href="#">三重県</p>
				  <p class="group-item list-group-item area-item" href="#">滋賀県</p>
				  <p class="group-item list-group-item area-item" href="#">京都府</p>
				  <p class="group-item list-group-item area-item" href="#">大阪府</p>
				  <p class="group-item list-group-item area-item" href="#">兵庫県</p>
				  <p class="group-item list-group-item area-item" href="#">奈良県</p>
				  <p class="group-item list-group-item area-item" href="#">和歌山県</p>
				  <p class="group-item list-group-item area-item" href="#">鳥取県</p>
				  <p class="group-item list-group-item area-item" href="#">島根県</p>
				  <p class="group-item list-group-item area-item" href="#">岡山県</p>
				  <p class="group-item list-group-item area-item" href="#">広島県</p>
				  <p class="group-item list-group-item area-item" href="#">山口県</p>
				  <p class="group-item list-group-item area-item" href="#">徳島県</p>
				  <p class="group-item list-group-item area-item" href="#">香川県</p>
				  <p class="group-item list-group-item area-item" href="#">愛媛県</p>
				  <p class="group-item list-group-item area-item" href="#">高知県</p>
				  <p class="group-item list-group-item area-item" href="#">福岡県</p>
				  <p class="group-item list-group-item area-item" href="#">佐賀県</p>
				  <p class="group-item list-group-item area-item" href="#">長崎県</p>
				  <p class="group-item list-group-item area-item" href="#">熊本県</p>
				  <p class="group-item list-group-item area-item" href="#">大分県</p>
				  <p class="group-item list-group-item area-item" href="#">宮崎県</p>
				  <p class="group-item list-group-item area-item" href="#">鹿児島県</p>
				  <p class="group-item list-group-item area-item" href="#">沖縄県</p>
				</div>
			</div>
			<div class="mo_icon mo_price">
				<%= image_tag "/images/値段.png" ,alt: "" ,class: "icon" %>  <span class="mo_iconn price_span" data-mo="price_modal">値段で探す</span>
				<div class="list-group price_modal">
				  <p class="group-item list-group-item price-item" href="#">1000円未満</p>
				  <p class="group-item list-group-item price-item" href="#">1000~1999円</p>
				  <p class="group-item list-group-item price-item" href="#">2000~2999円</p>
				  <p class="group-item list-group-item price-item" href="#">3000~3999円</p>
				  <p class="group-item list-group-item price-item" href="#">4000~4999円</p>
				  <p class="group-item list-group-item price-item" href="#">5000~5999円</p>
				  <p class="group-item list-group-item price-item" href="#">6000~6999円</p>
				  <p class="group-item list-group-item price-item" href="#">7000~7999円</p>
				  <p class="group-item list-group-item price-item" href="#">8000~8999円</p>
				  <p class="group-item list-group-item price-item" href="#">9000~9999円</p>
				  <p class="group-item list-group-item price-item" href="#">10000円以上</p>
				</div>
			</div>
		</div>
	</div>
	<div class="user-sidebar">
		<h4><%= image_tag "/images/人物.png" ,alt: "" ,class: "icon" %>  ユーザー</h4>
		<table class="sidebar_table">
			<tbody>
		        <% i = 0 %>
		        <% users.each do |user| %>
			        <% break if i == 5 %>
						<tr>
							<td>
								<div>
									<% if i == 0 %>
										<div class="rank"><%= image_tag "/images/1位.png" ,alt: "" ,class: "r_icon" %></div>
									<% elsif i == 1 %>
										<div class="rank"><%= image_tag "/images/2位.png" ,alt: "" ,class: "r_icon" %></div>
									<% elsif i == 2 %>
										<div class="rank"><%= image_tag "/images/3位.png" ,alt: "" ,class: "r_icon" %></div>
									<% elsif i == 3 %>
										<div class="rank"><%= image_tag "/images/4位.png" ,alt: "" ,class: "r_icon" %></div>
									<% else %>
										<div class="rank"><%= image_tag "/images/5位.png" ,alt: "" ,class: "r_icon" %></div>
									<% end %>
									<div class="rank">
				                        <% if user.profile_image.present? %>
				                            <%= link_to users_toukou_path(user.id) do %>
				                                <%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "img-circle itiran-image-size image-hover" %>
				                            <% end %>
				                        <% else %>
				                            <%= link_to users_toukou_path(user.id) do %>
				                                <%= image_tag "/images/no_image.jpg",class: "img-circle", size: "40x40" %>
				                            <% end %>
				                        <% end %>
			                    	</div>
			                    	<div class="rank aaa">
			           			        <%= user.user_key %><br>
			           			        <%= image_tag "/images/人物.png" ,alt: "" ,class: "f-icon" %>
			           			        <%= Relationship.where(followed_id: user).count %>
			           			    </div>
			           			</div>
							</td>
						</tr>
        			<% i+= 1 %>
      			<% end %>
			</tbody>
		</table>
		<%= link_to "もっと見る", users_path, class: "btn btn-default user-btn" %>
	</div>
</div>






