<div class="container">
    <div class="row">
        <div class="col-lg-3">
        	<h1>サイドバー</h1>
        </div>
        <div class="col-lg-9 flex">
        	<% @catalogs.each do |catalog| %>
	        	<div class="box">
	        		<div class="image">
	        			<%= attachment_image_tag  catalog, :after_front_image, :fill, 230, 308, format: 'jpeg' %>
	        		</div>
	        		<div class="btn-group like" role="group">
                        <div class="favorite-buttons">
                          <%= render 'catalogs/favorite', catalogs: catalog, favorite_count: catalog.favorites.count %>
                        </div>
                        <div class="like-buttons">
                          <%= render 'catalogs/like', catalogs: catalog, like_count: catalog.likes.count %>
                        </div>
	        		</div>
	        		<div class="user">
	        			<%= fa_icon("user-circle lg")%>
           			    <%= current_user.user_key %>
	        		</div>
	        	</div>
	        <% end %>
        	<nav>
			<%= paginate @catalogs, class:"pagenate" %>
			</nav>
        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        </div>
    </div>
</div>
<%= link_to "投稿ページへ", new_catalog_path %>


