<div class="container">
    <div class="row">
        <div class="col-lg-3">
        	<h1>サイドバー</h1>
        </div>
        <div class="col-lg-9 flex">
        	<% @catalogs.each do |catalog| %>
	        	<div class="box">
	        		<div class="image">
	        			<%= attachment_image_tag  catalog, :after_front_image, :fill, 230, 308, format: 'jpeg' %>
	        		</div>
	        		<div class="btn-group like" role="group">
                        <% if catalog.favorited_by?(current_user) %>
                          <li>
                            <%= link_to catalog_favorites_path(catalog), class: 'col-md-6', style:"color: #e73554;", method: :delete do %>
                              <i class="glyphicon glyphicon-plus-sign" aria-hidden="true"></i>
                              <%= catalog.favorites.count %>
                            <% end %>
                          </li>
                        <% else %>
                          <li>
                            <%= link_to catalog_favorites_path(catalog), class: 'col-md-6', method: :post do %>
                              <i class="glyphicon glyphicon-plus-sign" aria-hidden="true"></i>
                              <%= catalog.favorites.count %>
                            <% end %>
                          </li>
                        <% end %>
                        <% if catalog.liked_by?(current_user) %>
                          <li>
                            <%= link_to catalog_likes_path(catalog), class: 'col-md-6', style:"color: #e73554;", method: :delete do %>
                              <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
                              <%= catalog.likes.count %>
                            <% end %>
                          </li>
                        <% else %>
                          <li>
                            <%= link_to catalog_likes_path(catalog), class: 'col-md-6', method: :post do %>
                              <i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
                              <%= catalog.likes.count %>
                            <% end %>
                          </li>
                        <% end %>
	        		</div>
	        		<div class="user">
	        			<%= fa_icon("user-circle lg")%>
           			    <%= current_user.user_key %>
	        		</div>
	        	</div>
	        <% end %>
        	<nav>
			<%= paginate @catalogs, class:"pagenate" %>
			</nav>
        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        	<div class="box">
        		<div class="image">
        		</div>
        		<div class="like">
        		</div>
        		<div class="user">
        		</div>
        	</div>

        </div>
    </div>
</div>
<%= link_to "投稿ページへ", new_catalog_path %>


