<%= render "users/header", user: @user %>

<div class="container index">
    <div class="flex follow-box">
    	<% @follower.each do |follower| %>
			<div class="follow-label">
			    <div class='mypage-image col-md-5'>
			        <% if follower.profile_image.present? %>
			            <%= attachment_image_tag follower, :profile_image, :fill, 70, 70, format: 'jpeg' %>
			        <% else %>
			            <%= image_tag "no_image.jpg",class: "img-circle", size: "70x70" %>
			        <% end %>
			    </div>
			    <div class="follow-user-key col-md-4">
			            <%= follower.user_key %>
			    </div>
			    <div class="user-<%= follower.id %> col-md-3">
			        <% if current_user == follower %>
			        <% else %>
			            <%= render "relationships/user", user: follower %>
			        <% end %>
			    </div>
			</div>
		<% end %>
	</div>
</div>