<%= render "users/header", user: @user %>
<nav class="navbar navbar-default mypage-nav">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to users_toukou_path(@user.id),class: "user_nav" do%>
                        <%= @user.catalogs.count %>
                        <p>投稿</p>
                    <% end %>
                </li>
                <li>
                    <%= link_to users_okini_path(@user.id),class: "user_nav" do%>
                        <%= Favorite.where(user_id: @user).count %>
                        <p>お気に入り</p>
                    <% end %>
                </li>
            </ul>
            <ul class="nav navbar-nav float-nav ">
                <li>
                    <%= link_to users_followed_path(@user.id),class: "user_nav" do%>
                        <%= Relationship.where(followed_id: @user).count %>
                        <p>フォロワー</p>
                    <% end %>
                </li>
                <li>
                    <%= link_to users_follower_path(@user.id),class: "user_nav nav_color" do%>
                        <%= Relationship.where(follower_id: @user).count %>
                        <p class="underline">フォロー</p>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container index">
    <div class="flex follow-box">
    	<% @follower.each do |follower| %>
			<div class="follow-label">
			    <div class='mypage-image col-md-5'>
			        <% if follower.profile_image.present? %>
			            <%= link_to users_toukou_path(follower.id) do %>
			                <%= attachment_image_tag follower, :profile_image, format: 'jpeg',class: "img-circle follow-size image-hover" %>
			            <% end %>
			        <% else %>
			            <%= link_to users_toukou_path(follower.id) do %>
			                <%= image_tag "no_image.jpg",class: "img-circle", size: "70x70" %>
			            <% end %>
			        <% end %>
			    </div>
			    <div class="follow-user-key col-md-4">
			            <%= follower.user_key %>
			    </div>
			    <div class="user-<%= follower.id %> col-md-3">
			        <% if current_user == follower %>
			        <% else %>
			            <%= render "relationships/user", user: follower %>
			        <% end %>
			    </div>
			</div>
		<% end %>
	</div>
</div>