<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<h3><%= image_tag "王冠.png" ,alt: "" ,class: "u_icon" %> ユーザーランキング</h3>
    <div class="collapse navbar-collapse" id="navbarEexample1">
      <ul class="nav navbar-nav">
        <li><span class="ALL user-sex-label sex-label-color">ALL</span></li>
        <li><span class="MEN user-sex-label">MEN</span></li>
        <li><span class="WOMEN user-sex-label">WOMEN</span></li>
        <li><span class="KIDS user-sex-label">KIDS</span></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
          <div class="sidebar">
            <div class="catalog-sidebar">
              <h4><%= image_tag "カメラ.png" ,alt: "" ,class: "icon" %>  探す</h4>
              <table class="sidebar_table">
                <tbody>
                  <tr>
                    <td class="mo_icon mo_style"><%= image_tag "くし.png" ,alt: "" ,class: "icon" %>  スタイルで探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_hair"><%= image_tag "色.png" ,alt: "" ,class: "icon" %>  髪色で探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_menu"><%= image_tag "メニュー.png" ,alt: "" ,class: "icon" %>  メニューで探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_clothes"><%= image_tag "服装.png" ,alt: "" ,class: "icon" %>  服装で探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_age"><%= image_tag "年齢.png" ,alt: "" ,class: "icon" %>  年齢で探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_area"><%= image_tag "地域.png" ,alt: "" ,class: "icon" %>  地域で探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_price"><%= image_tag "値段.png" ,alt: "" ,class: "icon" %>  値段で探す</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="ranking-wrapper">
        	<%= render "users/ranking", users: @users %>
    	</div>
    </div>
</div>
