<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<h3><%= image_tag "虫眼鏡.png" ,alt: "" ,class: "u_icon" %> ユーザー検索</h3>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
          <div class="sidebar">
            <div class="catalog-sidebar">
              <h4><%= image_tag "カメラ.png" ,alt: "" ,class: "icon" %>  探す</h4>
              <table class="sidebar_table">
                <tbody>
                  <tr>
                    <td class="mo_icon mo_style"><%= image_tag "くし.png" ,alt: "" ,class: "icon" %>  スタイルで探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_hair"><%= image_tag "色.png" ,alt: "" ,class: "icon" %>  髪色で探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_menu"><%= image_tag "メニュー.png" ,alt: "" ,class: "icon" %>  メニューで探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_clothes"><%= image_tag "服装.png" ,alt: "" ,class: "icon" %>  服装で探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_age"><%= image_tag "年齢.png" ,alt: "" ,class: "icon" %>  年齢で探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_area"><%= image_tag "地域.png" ,alt: "" ,class: "icon" %>  地域で探す</td>
                  </tr>
                  <tr>
                    <td class="mo_icon mo_price"><%= image_tag "値段.png" ,alt: "" ,class: "icon" %>  値段で探す</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="ranking-wrapper">
      <div class="container col-lg-9 index">
          <div class="flex follow-box">
            <% @users.each do |follower| %>
              <div class="follow-label">
                  <div class='mypage-image col-md-5'>
                      <% if follower.profile_image.present? %>
                          <%= link_to users_toukou_path(follower.id) do %>
                              <%= attachment_image_tag follower, :profile_image, format: 'jpeg',class: "img-circle follow-size image-hover" %>
                          <% end %>
                      <% else %>
                          <%= link_to users_toukou_path(follower.id) do %>
                              <%= image_tag "no_image.jpg",class: "img-circle", size: "70x70" %>
                          <% end %>
                      <% end %>
                  </div>
                  <div class="follow-user-key col-md-4">
                      <%= follower.user_key %>
                  </div>
                  <div class="user-<%= follower.id %> col-md-3">
                      <% if current_user == follower %>
                      <% else %>
                          <%= render "relationships/user", user: follower %>
                      <% end %>
                  </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
