<%= render "users/header", user: @user %>
<nav class="navbar navbar-default mypage-nav">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><%= link_to "投稿", users_toukou_path(@user.id),class: "toukou_nav" %></li>
                <li><%= link_to "お気に入り", users_okini_path(@user.id),class: "okini_nav" %></li>
            </ul>
            <ul class="nav navbar-nav float-nav ">
                <li><%= link_to "フォロワー", users_followed_path(@user.id),class: "followed_nav" %></li>
                <li><%= link_to "フォロー", users_follower_path(@user.id),class: "follower_nav" %></li>
            </ul>
        </div>
    </div>
</nav>
<div class="toukou">
<%= link_to "カタログを投稿する", new_catalog_path, class: "btn btn-defaul" %>
</div>